VITE_REOWN_PROJECT_ID=194d8ee0daa204c668cccfe40e89093e
VITE_API_URL=https://remora.dev.taipei
# ManualVWAPOracle
VITE_VWAP_ORACLE_CONTRACT_ADDRESS=0xd7D42352bB9F84c383318044820FE99DC6D60378
# VWAPRFQSpot
VITE_VWAP_CONTRACT_ADDRESS=0x61A73573A14898E7031504555c841ea11E7FB07F
VITE_TARGET_CHAIN_ID=11155111
# RPC URL for the target chain.
# For Sepolia, you can leave it blank to use default.
# For Tenderly VTN or Anvil, provide the full RPC URL here.
VITE_SEPOLIA_RPC_URL=

